* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

body {
  text-align: center; }

body, header, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: "Arvo";
  src: url("../../../dist/assets/fonts/Arvo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Rokkitt-Black";
  src: url("../../../dist/assets/fonts/Rokkitt-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Arvo-Bold";
  src: url("../../../dist/assets/fonts/Arvo-Bold.ttf") format("truetype"); }

body {
  font-family: "Arvo", Arial, sans-serif;
  text-align: center; }

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

p,
label {
  font-family: "Arvo", Arial, sans-serif; }

p {
  text-overflow: ellipsis;
  color: #707070;
  overflow: hidden;
  font-size: 14px;
  line-height: 30px; }

a {
  line-height: 30px; }

nav {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 20px; }

form input, form textarea {
  border: 1px solid #1E1B1C; }

.loading {
  position: relative;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #d8d8d8;
  overflow: hidden; }
  .loading img {
    width: 800px;
    margin: 0 auto; }

.dark {
  background-color: #2e3133 !important; }

.white {
  color: #e5e5e5; }

.light_background {
  background-color: #EEEEEE; }

#body_home {
  transition: 1.5s ease; }

#main-wrapper {
  max-width: 1360px;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

#footer-nav {
  position: relative;
  width: 100%;
  background-color: white;
  color: #3AA28A;
  font-size: 12px;
  padding: 20px;
  bottom: 0;
  height: 70px;
  margin: 50px auto 0 auto; }
  #footer-nav div {
    float: left;
    width: 40%;
    text-align: left; }
    #footer-nav div img {
      width: 300px; }
  #footer-nav .footer-links {
    width: 60%;
    float: right;
    text-align: right; }
    #footer-nav .footer-links a {
      display: inline-block;
      margin: 0 10px; }
      #footer-nav .footer-links a h4,
      #footer-nav .footer-links a .fa-instagram {
        color: #3AA28A;
        font-size: 20px;
        font-weight: 600; }
  #footer-nav #scroll_top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
    z-index: 100;
    border: 2px solid #3AA28A;
    background-color: #EEEEEE;
    margin: 0 auto;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
    width: 40px;
    height: 40px; }
    #footer-nav #scroll_top i {
      margin: 0 auto;
      font-size: 28px;
      font-weight: 700; }

.black-btn {
  background-color: #2e3133 !important; }

.welcome {
  float: left;
  position: relative;
  width: 50%;
  font-family: "Rokkitt-Black", Arial, sans-serif;
  margin: 0 auto;
  z-index: 300; }
  .welcome img {
    max-width: 400px;
    position: absolute;
    top: 250px;
    left: 160px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

#heder-nav {
  top: -5px;
  height: 50px;
  padding: 20px 0;
  background-color: #EEEEEE;
  z-index: 900;
  margin: 0 auto;
  position: relative;
  width: 100%; }
  #heder-nav .navigation {
    display: inline;
    text-align: left; }
  #heder-nav ul li {
    font-size: 13px;
    position: absolute; }
    #heder-nav ul li a {
      font-size: 16px;
      font-family: "Arvo-Bold", Arial, sans-serif;
      color: #3AA28A; }
    #heder-nav ul li a:hover {
      color: #f5c45c; }
    #heder-nav ul li:nth-child(1) {
      float: left;
      left: 50px; }
    #heder-nav ul li:nth-child(2) {
      float: right;
      right: 50px; }

.year {
  font-size: 14px; }

.text_decoration {
  font-size: 16px;
  font-family: "Arvo-Bold", Arial, sans-serif; }

.highlight {
  transition: all 0.5s;
  border-radius: 5px;
  position: absolute;
  top: -12px;
  background: radial-gradient(#f5c45c 3%, transparent 70%);
  left: -15px;
  z-index: -1;
  display: block;
  margin: 0 auto; }

.link-1 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #707070;
  padding: 0 1px;
  transition: color ease 0.3s; }
  .link-1::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: #F16B6B;
    transition: all ease 0.3s; }
  .link-1:hover {
    color: white; }
    .link-1:hover::after {
      height: 100%; }

.title_image {
  max-width: 400px;
  top: 0;
  left: 0;
  margin: 0 auto; }
  .title_image img {
    margin: 30px auto; }

.tab_content {
  display: none; }
  .tab_content:nth-of-type(1) {
    display: block; }

.links_toggle {
  display: none; }

.subtitle_image {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 300px; }

.navigation a {
  padding: 20px;
  color: #707070;
  text-align: center;
  font-family: "Rokkitt-Black", Arial, sans-serif; }

.describe {
  margin: 20px auto;
  width: 100%; }
  .describe p {
    font-size: 12px; }

.links a {
  font-family: "Rokkitt-Black", Arial, sans-serif;
  cursor: pointer; }
  .links a i {
    color: #3AA28A; }
  .links a .disabled-arrow {
    color: #aaaaaa !important; }

ul#side-dots {
  position: fixed;
  margin: 20px;
  top: 100px; }
  ul#side-dots li.dot-side {
    display: block;
    margin-bottom: 50px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 20; }

aside.side-counter {
  width: 50px;
  height: 100%;
  float: left;
  position: absolute; }

.max-height {
  max-height: 300px; }

.work_explanation {
  position: relative;
  margin-bottom: 30px;
  max-width: 100%; }
  .work_explanation .work_description {
    margin: 0 auto;
    width: 80%; }

.info p {
  font-size: 70%; }
  .info p .subtitle {
    color: #3AA28A;
    font-weight: bold; }

.tabs-section {
  width: 100%;
  max-width: 1100px;
  margin: 0 50px; }
  .tabs-section .tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    margin: 0 50px; }
    .tabs-section .tabs li {
      width: 185px; }
      .tabs-section .tabs li a {
        color: #707070;
        font-size: 11pt;
        padding: 5px 10px;
        font-family: "Arvo-Bold", Arial, sans-serif; }
      .tabs-section .tabs li a.active {
        color: #3AA28A; }
      .tabs-section .tabs li a:hover {
        color: white;
        cursor: pointer; }

.gallery-row {
  justify-content: space-around;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  max-width: 100%;
  margin: 50px; }
  .gallery-row .gallery-info p {
    text-align: left; }
  .gallery-row .gallery-info:nth-child(1) {
    width: 60%;
    padding: 0 30px 0 60px; }
    .gallery-row .gallery-info:nth-child(1) p {
      font-size: 14px; }
  .gallery-row .gallery-info:nth-child(2) {
    width: 40%;
    margin-top: 120px;
    padding: 0 50px; }
    .gallery-row .gallery-info:nth-child(2) p {
      width: 80%;
      margin: 0 auto; }

.gallery-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2px;
  margin: 0 auto; }
  .gallery-row2 .portfolio {
    z-index: 1000;
    position: relative;
    top: -20px;
    display: flex;
    float: left;
    width: 50%;
    margin: 0 100px;
    align-items: center; }
    .gallery-row2 .portfolio a {
      margin: 0 auto; }
      .gallery-row2 .portfolio a img {
        max-width: 100%; }

.links {
  position: relative;
  right: 0;
  bottom: 60px;
  text-align: left;
  width: 80%;
  margin: 0 50px; }
  .links a {
    padding: 0 20px;
    font-size: 90%;
    font-weight: 500;
    color: #707070; }
    .links a:first-child {
      padding-left: 0; }
    .links a:last-child {
      padding-right: 0; }

.float-right {
  float: right; }

.float-left {
  float: left; }

#pageLoader {
  position: relative;
  top: 50px; }

.about_me_wrapper {
  display: flex;
  flex-wrap: wrap; }

.sections-man-wrapper {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  z-index: 2; }

.sections {
  opacity: 0; }

.about_me_page {
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 60px; }
  .about_me_page .title_image {
    margin: 20px auto 30px auto;
    max-width: 500px;
    width: 100%; }
    .about_me_page .title_image img {
      max-width: 100%; }
  .about_me_page .about_me {
    width: 800px;
    margin: 20px auto;
    padding: 0 30px; }
  .about_me_page:nth-of-type(2), .about_me_page:nth-of-type(3) {
    top: 100px; }

#svg_square {
  margin: 0 auto;
  transition: stroke-dashoffset 2s linear;
  display: none; }

#svg_square2 {
  transform: scale(1);
  margin: 0 auto;
  transition: stroke-dashoffset 2s linear; }

.computed {
  stroke-dashoffset: 0; }

strong {
  font-family: "Arvo-Bold", Arial, sans-serif; }

#Layer_1 {
  position: fixed;
  top: -25px;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0 auto; }

h2 span {
  font-size: 50%;
  font-weight: 300; }

.image-round {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 8; }

.social_thumbs {
  display: inline;
  float: left;
  padding: 5px;
  max-width: 50px; }

.social_thumbs:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.container-round-image {
  width: 300px; }

.container-round-image:hover .image-round {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.about_me p {
  text-align: left;
  max-width: 100%;
  margin: 0 20px;
  line-height: 30px; }
  .about_me p .see-more:hover {
    cursor: pointer; }
  .about_me p .see-more {
    font-size: 20px; }

.about_me span {
  font-family: "Arvo-Bold", Arial, sans-serif;
  color: #F16B6B;
  display: inline; }

.about_me .ref-block {
  max-width: 50%; }
  .about_me .ref-block p em {
    font-size: 12px; }

.links_toggle .reference {
  font-family: "Arvo-Bold", Arial, sans-serif;
  color: #3AA28A; }

.links_toggle .reference:hover {
  color: white; }

.explanation-text {
  width: 430px;
  height: 100px; }

.text-each_work,
.explanation-text {
  display: flex;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
  float: left;
  margin-top: 30px; }

.explanation-text_about_me {
  top: -50px;
  margin: 10px;
  width: 430px;
  text-align: left; }

.clarfix:after {
  content: "";
  display: table;
  clear: both; }

.home-links a {
  font-size: 19px; }

.home-links:nth-child(1) {
  color: #3AA28A; }

.underline {
  opacity: 0;
  width: 10px;
  height: 4px;
  background-color: #F16B6B;
  transition: width 2s; }

@media all and (min-width: 800px) {
  .navigation a:hover {
    color: #FF4848;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .links a strong i:hover {
    color: #F16B6B;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .filters a:hover:nth-child(2) {
    color: #F16B6B; }
  .filters a:hover:nth-child(3) {
    color: #3AA28A; }
  .filters a:hover:nth-child(4) {
    color: #f5c45c; }
  .filters a:active:nth-child(2), .filters a:active:nth-child(3), .filters a:active:nth-child(4),
  .filters a:focus:nth-child(2),
  .filters a:focus:nth-child(3),
  .filters a:focus:nth-child(4) {
    color: #707070; }
  .link-container:hover .underline {
    opacity: 1;
    width: 70px; }
  .link-container:nth-child(3) {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .m-flip_item {
    transition: top .2s ease-out 0s; } }

.m-flip_item,
.m-flip_item:hover,
.m-flip_item:active,
.m-flip_item:focus {
  color: #F16B6B;
  text-decoration: none; }
  .m-flip_item a,
  .m-flip_item:hover a,
  .m-flip_item:active a,
  .m-flip_item:focus a {
    color: #F16B6B; }

.m-flip {
  overflow: hidden;
  cursor: pointer; }

.m-flip_item {
  display: block;
  position: relative;
  font-family: "Arvo", Arial, sans-serif;
  top: 0; }
  .m-flip_item:nth-child(1) {
    color: #707070; }
  .m-flip_item a {
    color: #F16B6B; }

.pre-title {
  position: absolute;
  float: right;
  width: 40%;
  top: 440px;
  right: 50px; }
  .pre-title p {
    width: 140px;
    text-align: left;
    font-size: 16px; }

.link-container {
  position: relative;
  width: 50%;
  height: 50px; }
  .link-container:nth-child(2) {
    top: 10px;
    float: left; }
    .link-container:nth-child(2) .home-links,
    .link-container:nth-child(2) .underline {
      margin-left: 150px; }
  .link-container:nth-child(1) {
    top: 555px;
    float: right; }
    .link-container:nth-child(1) .home-links,
    .link-container:nth-child(1) .underline {
      margin-left: 100px; }
  .link-container:nth-child(3) {
    float: right;
    top: 185px;
    left: 100px; }
  .link-container:nth-child(4) {
    float: left;
    top: 500px; }
    .link-container:nth-child(4) div {
      margin-left: 150px;
      position: absolute;
      bottom: 0; }
  .link-container .home-links {
    width: 200px; }
  .link-container .home-links,
  .link-container .underline {
    position: absolute;
    bottom: 0; }

.middle-content {
  display: flex;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }
  .middle-content .filters {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 40px;
    z-index: 6;
    color: #e5e5e5;
    font-size: 12px;
    max-width: 300px; }
    .middle-content .filters a {
      display: block;
      height: 25px; }
    .middle-content .filters a,
    .middle-content .filters span {
      color: #CECECE;
      font-family: "Arvo-Bold", Arial, sans-serif; }

.square-empty {
  max-width: 100%;
  position: absolute;
  top: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
  animation-name: fromTop;
  -webkit-animation-name: fromTop;
  /* Safari 4.0 - 8.0 */
  -webkit-filter: blur(3px);
  filter: blur(3px); }

@-webkit-keyframes fromTop {
  from {
    top: -130px; }
  to {
    top: 30px; } }

@keyframes fromTop {
  from {
    top: -130px; }
  to {
    top: 30px; } }

.load_transition {
  -webkit-filter: blur(0);
  filter: blur(0);
  opacity: 0.6;
  animation-duration: 3s;
  color: white;
  -webkit-transition: ease-in 1s;
  -moz-transition: ease-in 1s;
  -o-transition: ease-in 1s;
  transition: ease-in 1s; }

.load_transition2 {
  opacity: 1;
  animation-duration: 2s;
  color: white;
  animation-delay: 5s;
  -webkit-transition: ease-in 0.5s;
  -moz-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  transition: ease-in 0.5s; }

.square-image {
  width: 380px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block; }

.video_container {
  position: relative;
  margin: 50px auto 10px auto;
  max-width: 100%; }
  .video_container iframe {
    max-width: 95%;
    position: absolute;
    margin: 10px auto;
    left: 0;
    right: 0; }

.big_video {
  height: 500px; }

.medium_video {
  width: 100%;
  height: 360px; }

.video {
  width: 800px; }

.sub_img_section {
  margin: 20px auto 30px auto; }

.grid-sizer {
  width: 30%; }

.image-item-width-1 {
  width: 80%; }

.image-item-width-2 {
  width: 300%; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.tab_content {
  animation-name: fromTop;
  -webkit-animation-name: fromTop;
  /* Safari 4.0 - 8.0 */ }

#rtb_link span,
#rtb_link2 span {
  font-family: "Arvo-Bold", Arial, sans-serif; }

#rtb_link span:hover,
#rtb_link2 span:hover {
  color: #1E1B1C; }

#rtb_link {
  color: white; }

#rtb_link2 {
  font-size: 17px;
  color: #f5c45c; }

.error_text {
  color: #FF4848;
  font-family: "Arvo", Arial, sans-serif;
  font-size: 13px; }

.contact_txt {
  font-size: 20px;
  font-family: "Arvo", Arial, sans-serif;
  font-weight: bold; }

.success_text {
  color: green;
  font-family: "Arvo", Arial, sans-serif;
  font-size: 13px; }

.error {
  border: 1px solid #FF4848; }

.success {
  border: 1px solid green; }

.basic {
  border: 1px solid #707070; }

.form-container {
  margin: 0 50px; }
  .form-container .title_image {
    margin: 0 50px; }
  .form-container .form {
    position: relative;
    padding: 0 50px;
    left: 0;
    margin: 0 auto;
    width: 50%;
    float: left; }

.envelope_gif {
  width: 50%;
  float: right; }
  .envelope_gif .gif-container {
    max-width: 300px;
    position: relative;
    padding: 10px 30px;
    margin: 0 auto;
    cursor: pointer; }
    .envelope_gif .gif-container p {
      position: absolute;
      top: 230px;
      left: 120px; }
    .envelope_gif .gif-container img {
      max-width: 100%; }
    .envelope_gif .gif-container .envelope_links {
      padding: 0 40px;
      position: absolute;
      top: 50px;
      margin: 0 auto;
      display: none; }
      .envelope_gif .gif-container .envelope_links div {
        position: relative;
        width: 150px;
        height: 40px; }
        .envelope_gif .gif-container .envelope_links div .fab {
          color: #3AA28A;
          font-size: 26px;
          font-weight: 600; }
        .envelope_gif .gif-container .envelope_links div h4 {
          display: inline;
          font-family: "Arvo-Bold", Arial, sans-serif;
          color: #3AA28A;
          float: left; }
        .envelope_gif .gif-container .envelope_links div h4, .envelope_gif .gif-container .envelope_links div i {
          position: absolute;
          text-align: center;
          left: 0; }
        .envelope_gif .gif-container .envelope_links div a {
          position: absolute;
          right: 0;
          color: #707070;
          font-family: "Arvo", Arial, sans-serif;
          font-size: 14px; }

.formMessages {
  margin: 0 auto;
  position: relative;
  padding: 0 50px;
  left: 0; }

.form-r:nth-child(1) .input, .form-r:nth-child(2) .input {
  width: 60%;
  background-color: #EEEEEE !important; }

.form-r:nth-child(3) .input {
  width: 75%;
  background-color: #EEEEEE !important; }

.form-r:nth-child(4) .button {
  width: 75%;
  background-color: #EEEEEE; }

.form-r:nth-child(4):hover button {
  background-color: white; }

.form-r:nth-child(4):active button,
.form-r:nth-child(4):focus button,
.form-r:nth-child(4):focus .basic,
.form-r:nth-child(4):focus .basic {
  border: 1px solid #3AA28A !important;
  box-shadow: none !important; }

button#submit {
  height: 40px;
  margin: 10px auto;
  cursor: pointer; }
  button#submit span {
    color: #3AA28A;
    font-family: "Rokkitt-Black", Arial, sans-serif;
    font-size: 13px;
    margin: 0 auto;
    vertical-align: middle; }

label {
  color: #707070;
  font-size: 13px; }

.contact-form {
  position: relative;
  margin: 50px auto;
  width: 800px; }

.model {
  position: relative;
  width: 1100px;
  margin: 0 auto; }
  .model .describe {
    margin-left: 0;
    max-height: 100px; }
  .model div {
    position: relative;
    overflow: hidden;
    width: 520px;
    height: 300px; }
    .model div .sketchfab-embed-wrapper {
      position: relative; }
      .model div .sketchfab-embed-wrapper iframe {
        position: absolute;
        left: -60px;
        top: -90px; }

.smartphoto-arrows a .fa-angle-right,
.smartphoto-arrows a .fa-angle-left {
  font-size: 40px;
  font-weight: 900;
  color: #3AA28A; }

* {
  box-sizing: border-box; }

.grid-section {
  max-width: 1200px;
  margin: 0 70px; }

.grid {
  position: relative;
  max-width: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .grid-item ---- */
.grid-item {
  float: left;
  height: auto;
  counter-increment: item;
  margin: 0 5px;
  padding: 5px;
  width: 360px; }
  .grid-item img {
    width: 100%; }

.grid-sizer,
.grid-item {
  width: 360px;
  padding: 5px; }

.grid-item:before {
  text-align: center;
  display: block; }

.grid-item--wide {
  width: 1000px;
  margin: 0 auto;
  left: 0;
  right: 0; }

.grid-item--medium {
  width: 900px;
  margin: 0 auto;
  left: 0;
  right: 0; }

.grid-item--small-1 {
  width: 360px; }

.grid-item--small-2 {
  width: 700px; }

@media only screen and (max-width: 1200px) {
  .welcome img {
    max-width: 250px;
    top: 120px; }
  .grid-item--wide {
    width: 100%; }
  .grid-item--medium {
    width: 80%; }
  .grid-item--small-1,
  .grid-item--small-2 {
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0; }
  .video_container {
    width: 95%; }
  .item {
    width: 360px; }
  .item4,
  .item3 {
    width: 100%; } }

@media only screen and (max-width: 1050px) {
  .square-image {
    width: 340px;
    top: 80px; }
  .gallery-row2 {
    justify-content: center;
    flex-wrap: wrap; }
    .gallery-row2 .portfolio {
      width: 400px;
      margin: 0 10px; }
      .gallery-row2 .portfolio:nth-child(even) {
        order: 1; }
      .gallery-row2 .portfolio:nth-child(odd) {
        order: 2;
        top: 20px; }
  iframe {
    max-width: 100%;
    margin: 0 20px; }
  .link-container:nth-child(3) {
    right: -50px; }
  .gallery-row .gallery-info:nth-child(1), .gallery-row .gallery-info:nth-child(2) {
    width: 100% !important;
    font-size: 15px;
    padding: 0 50px; }
  .gallery-row .gallery-info:nth-child(2) p {
    width: 100%;
    margin: 0; }
  .links {
    width: 100%;
    margin: 0; }
  .title_image {
    width: 100%; }
  .pre-title {
    right: 0; }
  .form-container {
    margin: 0 auto; }
    .form-container .form {
      width: 100%; }
    .form-container .title_image {
      height: 100px;
      margin: 0 auto; }
      .form-container .title_image img {
        width: 100%; }
  .formMessages {
    max-width: 100%; }
  .form-r:nth-child(1) .input, .form-r:nth-child(2) .input, .form-r:nth-child(3) .input {
    width: 100%; }
  .form-r:nth-child(4) .button {
    width: 100%; }
  .envelope_gif {
    width: 100%; }
    .envelope_gif .gif-container p {
      top: 210px;
      margin: 20px 50px;
      left: 60px; }
  .interview_txt {
    margin: 10px auto; } }

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 800px) {
  .portfolio {
    width: 290px !important; }
    .portfolio .container-round-image {
      width: 200px; }
    .portfolio a img {
      max-width: 200px; }
  .loading img {
    max-width: 600px; }
  .welcome {
    width: 100%; }
    .welcome img {
      max-width: 200px;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto; }
  .square-image {
    position: relative;
    width: 300px;
    top: 37px; }
  .square-empty {
    display: none; }
  .pre-title {
    float: left;
    top: 420px;
    left: 0;
    right: 0;
    margin: 0 auto; }
    .pre-title p {
      width: 100%;
      text-align: center;
      font-size: 15px; }
  .links-wrapper {
    position: relative;
    top: 80px; }
    .links-wrapper .link-container {
      width: 100%;
      padding: 5px;
      height: 35px !important; }
      .links-wrapper .link-container:nth-child(2), .links-wrapper .link-container:nth-child(3) {
        width: 50%; }
      .links-wrapper .link-container:nth-child(2) {
        float: left; }
      .links-wrapper .link-container:nth-child(3) {
        float: right; }
      .links-wrapper .link-container .home-links {
        float: none;
        margin: 0 auto; }
        .links-wrapper .link-container .home-links a {
          font-size: 18px;
          text-align: center; }
      .links-wrapper .link-container:nth-child(1), .links-wrapper .link-container:nth-child(2), .links-wrapper .link-container:nth-child(3), .links-wrapper .link-container:nth-child(4) {
        left: 0;
        right: 0;
        top: 0; }
      .links-wrapper .link-container:nth-child(1) .home-links {
        left: 0;
        right: 0; }
      .links-wrapper .link-container:nth-child(3) .home-links {
        right: 60px; }
      .links-wrapper .link-container:nth-child(2) .home-links {
        left: 60px; }
      .links-wrapper .link-container:nth-child(4) {
        width: 100%;
        margin: 20px auto; }
        .links-wrapper .link-container:nth-child(4) div {
          margin: 0 auto;
          left: 0;
          right: 0;
          align-items: center;
          display: flex;
          justify-content: center; }
  .gallery-row2 {
    width: 100%; }
  .about_me_page:nth-of-type(2), .about_me_page:nth-of-type(3) {
    top: 0; }
  .filters {
    top: 25%; }
  svg {
    width: 100%; }
  .links {
    right: 0;
    bottom: 20px;
    margin: 20px auto;
    position: relative;
    text-align: left; }
  .work_explanation {
    font-size: 14px; }
  .describe,
  .description i {
    font-size: 14px; }
  .video_container {
    width: 100%;
    max-width: none; }
  .about_me_page .title_image {
    max-height: 100px;
    max-width: 100%; }
    .about_me_page .title_image img {
      margin: 0 auto;
      width: 250px;
      max-width: 250px; }
  .about_me {
    width: 100%; }
    .about_me p {
      font-size: 13px;
      position: relative; }
  .contact-form {
    width: 100%; } }

@media only screen and (max-width: 600px) {
  .gallery-row2 .portfolio {
    top: -55px; }
  .grid-item,
  .grid-item--small-1,
  .grid-item--small-2,
  .grid-item--wide,
  .grid-item--medium {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    left: 0;
    right: 0; }
  .middle-content .filters {
    top: 25%; }
    .middle-content .filters span,
    .middle-content .filters a {
      font-size: 10px !important;
      line-height: 20px; }
  .middle-content svg {
    display: none; }
  .grid-section {
    margin: 0 10px; }
  .portfolio {
    width: 250px !important; }
    .portfolio .container-round-image {
      width: 160px; }
    .portfolio a img {
      max-width: 160px; }
  .loading img {
    max-width: 400px; }
  .middle-content .filters {
    line-height: 20px;
    font-size: 13px; }
  .container-round-image {
    width: 100%; }
  .title_image_biography {
    display: none; }
  .model {
    width: 70%;
    margin: 20px auto; }
    .model div {
      width: 100%; }
  .tabs-section {
    margin: 0 auto; }
    .tabs-section .tabs li {
      width: 100%;
      margin: 0 auto; }
  #footer-nav div {
    width: 60%;
    font-size: 11px; }
    #footer-nav div img {
      width: 230px; }
  #footer-nav .footer-links {
    width: 40%; }
  .about_me_page {
    margin-bottom: 20px; } }

@media only screen and (max-height: 400px) {
  .middle-content .filters a {
    display: inline;
    padding: 2px 5px; } }

@media only screen and (max-width: 470px) {
  .gallery-row2 .portfolio:nth-child(odd) {
    top: -20px; }
  .gallery-row {
    margin: 30px; }
    .gallery-row .gallery-info:nth-child(1), .gallery-row .gallery-info:nth-child(2) {
      padding: 0 10px; }
  .links-wrapper .link-container:nth-child(1), .links-wrapper .link-container:nth-child(2), .links-wrapper .link-container:nth-child(3), .links-wrapper .link-container:nth-child(4) {
    height: 50px;
    width: 100%; }
    .links-wrapper .link-container:nth-child(1) .home-links, .links-wrapper .link-container:nth-child(2) .home-links, .links-wrapper .link-container:nth-child(3) .home-links, .links-wrapper .link-container:nth-child(4) .home-links {
      left: 0;
      right: 0;
      height: 50px; }
  .links-wrapper .link-container:nth-child(4) div {
    margin-left: 0; }
  .pre-title {
    width: 100%;
    font-size: 12px; }
  #footer-nav {
    padding: 20px 8px; }
    #footer-nav div {
      margin-top: 7px; }
      #footer-nav div img {
        width: 200px; }
    #footer-nav .footer-links {
      margin-top: 5px; }
      #footer-nav .footer-links a {
        font-size: 15px;
        margin: 0 6px; } }

@media only screen and (max-width: 360px) {
  .about_me p a {
    font-size: 14px; }
  .loading img {
    max-width: 300px; }
  .item {
    padding: 20px; }
  .form_container {
    margin: 0 auto; }
  .video_container {
    width: 100%; }
  .social_thumbs {
    padding: 3px;
    max-width: 40px; }
  .square-image {
    width: 200px;
    top: 20px; }
  .pre-title {
    top: 270px; }
    .pre-title p {
      font-size: 13px; }
  .links-wrapper {
    top: 45px; }
    .links-wrapper .link-container .home-links a {
      font-size: 16px; }
  .form_container .title_image {
    height: 100px; }
    .form_container .title_image img {
      max-width: 100%; }
  .envelope_gif p {
    margin: 5px 50px; } }
